form{
    height: 100%;   
}

ion-grid{
    height:100%
}

ion-row{
    height:100%
}

.login-input{
    font-size: 1.2rem;
    color: white;
    background-color:transparent;
}

.login-button{
    font-size: 1.2rem;
}

ion-item > ion-input{
    --ion-background-color: transparent !important;
}



ion-item {
    --ion-background-color: white !important;
    }

    ion-label {
        color: white !important;
        }
     .item, .list, .item-content, .item-complex {
    --ion-background-color: transparent !important;
    }

// ion-content{
//     --ion-background-color: purple;
// }